//头部
#head{
    width: 100%;
    background: #e9546b;
}
#header{
    height: 100px;
    width:1208px;
    position: relative;
    margin:auto;
}
#header a{
    text-decoration: none;
    color: white;
}
/*logo*/
#logo{
    margin-top: 30px;
    float: left;
    padding-right: 50px;
    padding-left: 20px;
}
/*导航*/
#nav{
    float: left;
    margin-top:56px;
    width: 557px;
    height: 24px;
    position: relative;
    .bcg{
        float: left;
        font-size: 14px;
        height:24px;
        width: 88px;
        line-height: 24px;
        text-align: center;
        border-radius:2px;
        margin:0 2px;
        padding: 1px;
    }
     .li1{
    background: white;
    }
}
#nav li:hover{
    background: white;
}
.nav_li{
    position: relative;
    .shang{
        display: none;
    }
    .xia{
        position: absolute;
        top: 10px;
        right: 5px;
    }
    .shang{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
#nav .bcg>a{
    display: inline-block;
    width: 86px;
    height: 22px;
    /*padding: 0 22px;*/
    color:white;
    text-decoration: none;
    background: #e9546b;
}
/*导航的下拉菜单*/
#nav .head-caidan{
    display: none;
    position: relative;
    z-index:999;
    padding-top:16px;
    /*border:1px solid black;*/
}
#nav .img_tehui{
    position: absolute;
    top: -6px;
    left: 244px;
}
#nav .head-caidan li{
    border: 0;
    background:white;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-left:1px solid #e9546b;
    border-right:1px solid #e9546b;
    border-bottom: 1px solid #CCCCCC;
    position:relative;
}
#nav .head-caidan li:last-child{
    border-bottom:1px solid #e9546b;
}
#nav .head-caidan li a{
    color:#000000;
}
#nav .head-caidan li:hover{
    background: #ff748b;
}
#header #daima{
    position: absolute;
    top:10px;
    right:0;
    height: 28px;
    line-height: 28px;
}
#header #daima p{
    line-height: 28px;
    float:right;
    color: white;
}
#header #daima .head-zhanghu{
    height: 28px;
    text-align: center;
    width: 120px;
}
#header #daima .p1{
    line-height: 28px;
    margin-right: 80px;
}
#header #daima a{
    display: inline-block;
    position: relative;
    width: 58px;
    text-align: center;
    line-height: 28px;
    color: white;
    float: left;
    &:hover{
        text-decoration: underline;
    }
}
#header #daima .head-geren{
    width: 120px;
    position: absolute;
    z-index: 9999;
    top:28px;
    right:0px;
    border: 1px solid #C8C8C8;
    background:white;
    display: none;
    li{
        width:118px;
        height: 40px;
        text-align: center;
        line-height: 40px;     
        border-bottom:1px solid #ccc;
        font-size: 14px;
        &:hover{
            background:#e9546b;
            color: white;
        }
    }
}
#header #daima .border{
    width: 0;
    height:16px;
    float: left;
    margin-top: 6px;
    border-left:1px solid white;
}
#header #gouwu{
    position: absolute;
    bottom: 20px;
    right:16px;
     .gou_dizhi{
            width: 290px;
            height: 181px;
            position: absolute;
            top:40px;
            right: 0;
            z-index:999;
            background: white;
            border: 1px solid  #e9546b;
            display: none;
            .bcg{
                background-color: #e9546b;
            }
            p{
                line-height: 60px;
                margin-left: 18px;
            }
            li{
                display: inline-block;
                float: left;
                width: 50px;
                height: 25px;
                margin: 0 0 15px 17px;
                line-height: 25px;
                text-align:center;
                border-radius: 2px;
                cursor: pointer;
                color: black;
                font-size:12px;
                padding: 0;
                &:hover{
                    background-color: #e9546b;
                }
            }
       }
    .gou_img{
        position: relative;
        padding:0 40px;
        .shang{
            position: absolute;
            top: 8px;
            right:20px;
            display: none;
        }
        .xia{
             position: absolute;
            top: 8px;
            right:20px;
            display: block;
        }
    }
}
#header .gouwu_ul li{
    position: relative;
    float: left;
    color: white;
    padding: 0 24px;
    border-left: 1px solid white;
    .a_span{
        display: inline-block;
        height:16px;
        width: 16px;
        background: white;
        position: absolute;
        top:-11px;
        left: 42px;
        border:1px solid white;
        border-radius:16px;
        text-align: center;
        line-height: 16px;
        font-size: 12px;
        color: #e9546b;
    }
}
#header #gouwu li:last-of-type{
    border-right: 1px solid white;
}
/*尾部*/
.footer_link{
    width: 100%;
    height:250px;
    background: #f5f5f5;
    position:relative;
}
.footer_1 .p{
    margin-left:282px;
    margin-top: 20px;
    padding-bottom: 40px;
    color: #b4b4c4;
}
/*联系客服*/
#lianxi{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index:999;
}
/*尾部的logo*/
.footer_link #footer_img{
    padding-top: 90px;
    margin-left: 90px;
}
.footer_link span{
    font-size: 14px;
    padding-left: 20px;
}
/*尾部的扫码*/
.footer_link #shaoma{
    position: absolute;
    top:44px;
    right:93px;
}
.footer_link #shaoma #img{
    padding-bottom:10px;
}
.footer_link a{
    display: inline-block;
    text-decoration: none;
    color:black;
    padding:0 14px;
    border-right: 1px solid black;
    font-size: 16px;
}
.footer_link a:last-of-type{
    border-right: 0;
}
.footer_link a:hover{
    color:#F02B63;
}
.footer_link #links{
    position:absolute;
    top: 60px;
    left: 417px;
}
#links p{
    padding-top: 20px;
    padding-left: 22px;
    font-size: 14px;
    color: #e95480;
}
#links p b{
    font-size: 20px;
}
//显示商品
#shangping{
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 999;
    background: white;
    border:1px solid #F02B63;
    display: none;
    #search{ 
        position: relative;    
        text-align: center;
        font-size: 14px;
        line-height:30px;
        color:black;
        z-index: 9999;
        background:#F02B63;
        display: none;
    }
    .head-ul{
        overflow: hidden;
        position: relative;
        padding: 10px;
        border-bottom: 1px dashed silver;
        li{
        float: left;
        height: 80px;
        width: 80px;
        font-size: 14px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        #li5-shanchu{        
            display:block;
            width: 20px;
            height: 20px;
            position: absolute;
            top:40px;
            left:10px;
            background:url(/img/jsb3.png);
        }
        img{
            width: 80px;
            height: 80px;
            float: left; 
            
              }
        }
    }
    
    #li5{
        width:50px;
    }
}
