$width:1208px;
/*头部*/
#head{
    width: 100%;
    background: #e9546b;
}
#header{
	height: 100px;
	width:$width;
	position: relative;
	margin:auto;
}
#header a{
	text-decoration: none;
	color: white;
}
/*logo*/
#logo{
	margin-top: 30px;
	float: left;
	padding-right: 50px;
	padding-left: 20px;
}
/*导航*/
#nav{
	float: left;
	margin-top:56px;
	width: 557px;
	height: 24px;
	position: relative;
    .bcg{
        float: left;
        font-size: 14px;
        height:24px;
        width: 88px;
        line-height: 24px;
        text-align: center;
        border-radius:2px;
        margin:0 2px;
        padding: 1px;
    }
     .li1{
    background: white;
    }
}
#nav li:hover{
	background: white;
}
.nav_li{
    position: relative;
    .shang{
        display: none;
    }
    .xia{
        position: absolute;
        top: 10px;
        right: 5px;
    }
    .shang{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
#nav .bcg>a{
	display: inline-block;
	width: 86px;
	height: 22px;
	/*padding: 0 22px;*/
	color:white;
	text-decoration: none;
	background: #e9546b;
}
/*导航的下拉菜单*/
#nav .ul1{
	display: none;
	position: relative;
	z-index: 100;
	padding-top:16px;
	/*border:1px solid black;*/
}
#nav .img_tehui{
	position: absolute;
	top: -6px;
	left: 244px;
}
#nav .ul1 li{
	border: 0;
	background:white;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-left:1px solid #e9546b;
	border-right:1px solid #e9546b;
	border-bottom: 1px solid #CCCCCC;
	position:relative;
}
#nav .ul1 li:last-child{
	border-bottom:1px solid #e9546b;
}
#nav .ul1 li a{
	color:#000000;
}
#nav .ul1 li:hover{
	background: #ff748b;
}
#header #daima{
	position: absolute;
	top: 5px;
	right: 0;
}
#header #daima p{
	float:right;
	color: white;
}
#header #daima .p1{
	margin-right: 80px;
}
#header #daima a{
	padding:0 20px;
	color: white;
	&:hover{
	    text-decoration: underline;
	}
}
#header #daima a:last-of-type{
	padding-right: 0;
	border-left:1px solid white;
}
#header #gouwu{
	position: absolute;
	bottom: 20px;
	right:0;
	.gou_img{
	    position: relative;
	    padding:0 40px;
	    .shang{
	        position: absolute;
	        top: 8px;
	        right:20px;
	        display: none;
	    }
	    .xia{
	         position: absolute;
            top: 8px;
            right:20px;
	        display: block;
	    }
	}
}
#header #gouwu li{
	float: left;
	color: white;
	padding: 0 24px;
	border-left: 1px solid white;
}
#header #gouwu li:last-of-type{
	border-right: 1px solid white;
}
$wid:1263px;
.banner_img{
    width: 100%;
    border-bottom: 2px solid #dfe0e2;
    overflow: hidden;
}
#banner{
	position: relative;
	z-index: 2;
	height: 680px;
	width:$wid;
	margin:0 auto;
//	overflow: hidden;
}

#banner ul{
    position: absolute;
    top: 0;
    left:0;
    width:$wid*4;
    height:680px;
	li{
	    float: left;
	}
}
#banner ul img{
	width:$wid;
	height: 680px;
//	margin-left:-20%;
}
#banner #suoying div{
	width: 30px;
	height: 6px;
	background: #45515e;
	float: left;
	margin:17px 10px;
	border: 1px solid;
	border-radius: 5px;
}
#banner #suoying{
	position: absolute;
	bottom: 0;
	left: 545px;
}
#banner #suoying .div2{
	background: #e9546b;
	border: 1px solid #e9546b;
}
/*特惠展示*/
#cont{
	width: 100%;
	height: 818px;
	background: #fefefe;
	position: relative;
}
.list{
	/*padding:90px 155px;*/
	width: 952px;
	height: 626px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}
.list .span_img{
	float: left;
	/*display: inline-block;*/
	border:5px solid #fdf7f8;
	
}
.span_img img:hover{
	box-shadow:0 0 10px 5px rgb(237,152,175);
	/*border: 0;*/
}
.span_img1{
	margin-right: 20px;
	margin-bottom: 20px;
}
.span_img3{
	margin-bottom:20px;
}
.span_img2{
	margin:0 20px;
}
/*当季热卖*/
.section{
	border-top:4px solid #eaeaea;
	width:1208px;
	margin:auto;
	overflow: hidden;
	//扫一扫
	#section_shaoma{
    	position: fixed;
        z-index: 99999;
        width: 300px;
        height: 460px;
        right: 60px;
        top:86px;
//      transform: translateY(-50%);
        background: rgba(0,0,0,.6);
        border-radius: 20px;
        .saoyisao{
                margin: 20px auto 0;
                width: 240px;
                height: 424px;
            
        }
        .guanbi{
           position: absolute; 
           top: 0;
           left: 0;
           margin:10px;
        }
	}
}
.section .section-title{
	width: 270px;
	height: 172px;
	margin: auto;
	background: url(../img/section_title_bg.png) no-repeat;
	/*overflow: hidden;*/
	margin-top: 100px;
	margin-bottom: 84px;
}
.section .section-title .cn {
    height: 26px;
    padding-top: 68px;
    line-height: 26px;
    font-size: 26px;
}
.section .section-title .en {
    height: 18px;
    margin-top: 45px;
    line-height: 18px;
    font-size: 18px;
}
.section .section-title p {
    color: #e9546b;
    text-align: center;
}
/*主体图片*/
.section .section_group{
	float: left;
	margin-right:12px;
	margin-bottom: 10px;
	padding: 1px;
}
.section .section_group:hover{
	/*border:1px solid #F02B63;*/
	background: red;
	
}
.section_group .img{
	position: relative;
    width: 291px;
    height: 291px;
    overflow: hidden;
    background: #ffffff;
    z-index:100;
}
.section_group .img img{
	width: 291px;
    height: 291px;
    display: block;
}
.section_group .text{
	position: relative;
    width: 100%;
    height: 109px;
    background: #ffffff;
    z-index:100;
}
.section_group .text .desc{
	padding: 14px 0 11px 20px;
    font-size: 14px;
    color: #b5b5b5;
}
.section_group .name{
	margin-left: 20px;
    color: #635859;
}
.section_group .name_en{
	padding-top: 10px;
    font-size: 14px;
    line-height: 30px;
}
.section_group .name_cn{
	font-size: 10px;
	line-height: 30px;
}
.section_group .attr{
	padding-top: 5px;
    color: #e9546b;
    padding-left: 20px;
}
.section_group .gouwuche{
	position: absolute;
	width: 28px;
	height: 28px;
	right: 20px;
	bottom: 15px;
}
#section_content .section_3{
	margin-right:0;
}
/*主体尾部图片*/
#content_foot{
	height: 248px;
	width: 1208px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 60px;
}
#content_foot .content_img{
	display:inline-block;
}
/*尾部*/
.footer_link{
	width: 100%;
	height:250px;
	background: #f5f5f5;
	position:relative;
}
.footer_1 .p{
	margin-left:282px;
	margin-top: 20px;
	padding-bottom: 40px;
	color: #b4b4c4;
}
/*联系客服*/
#lianxi{
	position: fixed;
	right: 0;
	bottom: 0;
	z-index:999;
}
/*尾部的logo*/
.footer_link #footer_img{
	padding-top: 90px;
	margin-left: 90px;
}
.footer_link span{
	font-size: 14px;
	padding-left: 20px;
}
/*尾部的扫码*/
.footer_link #shaoma{
	position: absolute;
	top:44px;
	right:93px;
}
.footer_link #shaoma #img{
	padding-bottom:10px;
}
.footer_link a{
	display: inline-block;
	text-decoration: none;
	color:black;
	padding:0 14px;
	border-right: 1px solid black;
	font-size: 16px;
}
.footer_link a:last-of-type{
	border-right: 0;
}
.footer_link a:hover{
	color:#F02B63;
}
.footer_link #links{
	position:absolute;
	top: 60px;
	left: 417px;
}
#links p{
	padding-top: 20px;
	padding-left: 22px;
	font-size: 14px;
	color: #e95480;
}
#links p b{
	font-size: 20px;
}
