//register.html CSS样式
#page_register{
    width: 100%;
    position: relative;
    .pp{
        margin:5px 0 5px 10px;
        font-size: 12px;
         color: red;
         display: none; 
    }
    .zhuche{
        width: 1208px;
        padding:80px 0 160px;
        margin: 0 auto;
        overflow: hidden;
        .page_img{
            width: 573px;
            height: 359px;
            float: left;
            margin:86px 0 0 48px;
        }
        .page_input{
            width: 579px;
            height: 520px;
            float: left;
            border-left: 1px solid #c8c8c8;
            ul{
                width: 392px;
                padding-left: 98px;\
//              overflow: hidden
                a{
                    text-decoration: none;
//                  color: white;
                }
                #rsg{
                    font-size: 40px;
                    line-height: 32px;
                    color: #d6dce2;
                    text-align:center;
                    width: 392px;
                }
                #btn-zhuche{
                    display: block;
                    width: 390px;
                    height: 50px;
                    border-radius: 4px;
                    margin:18px 0 4px;
                    font-size: 20px;
                    line-height:52px;
                    text-align: center;
                    background: #45515f;
                    color: white;
                    text-decoration: none;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            
                .yiyou{
                    color: #505050;
                    height: 30px;
                    margin-left: 10px;
                    font-size: 14px;
                    line-height: 30px;
                        .denglu{
                            color: #1478be;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                input{
                    width: 390px;
                    height: 50px;
                    background:#fafafa;
                    border:1px solid #929ead;
                    border-radius: 4px;
                    margin-top:18px;
                    font-size: 18px;
                    line-height: 50px;
                    color: #505050;
                    text-indent: 1em;
//                  float: left;
                }
                .dongtaimima{
                    width: 392px;
                    height: 72px;
                     #dongtai{
                        float: left;
                        width: 260px;
                        }
                    .huoqu-dongtai{
                        padding: 0;
                        margin: 0;
                        display:block;
                        text-align: center;            
                        float:right;
                        width: 122px;
                        height: 52px;
                        background: #959ead;
                        border-radius: 4px;
                        margin-top: 18px;
                        font-size: 16px;
                        line-height: 52px;
                        text-decoration: none;
                        color: white;                      
                     }
                }
               
            }
        }
    }
}
//login.html CSS样式
.page_ul{
    width: 392px;
    padding: 54px 0 0 98px;
    #btn-login{
            display: block;
            width: 390px;
            height: 50px;
            border-radius: 4px;
            margin:40px 0 5px;
            font-size: 20px;
            line-height:52px;
            text-align: center;
            background: #45515f;
            color: white;
    }
    .haomacuowu,.shuruhaoma{
        font-size: 12px;
        color: red;
        display: none;
        margin-left: 10px;
    }
}
//登录方式
.denglufangshi{
    position: absolute;
    top: 50px;
    right:50px;
    height: 75px;
    img{
        display: block;
        float: left;
        margin:0 3px;
    }
    
}
//用户登录默认隐藏
.yaosi_denglu{
    display: none;
}
//用户名/密码登录
.ul2{
    width: 392px;
    padding: 54px 0 0 98px;
    display: none;
    #btn2{
        display: block;
        width: 390px;
        height: 50px;
        border-radius: 4px;
        margin:0 0 5px;
        font-size: 20px;
        line-height:52px;
        text-align: center;
        background: #45515f;
        color: white;
    }
    .p1{
        text-align: right;
        width: 382px;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        #aa{
            color:#1478be;
            &:hover{
                text-decoration: underline;
            }
        }
    }
     .haomacuowu,.shuruhaoma{
        font-size: 12px;
        color: red;
        display: none;
        margin-left:10px;
    }
}
//遮板
.login-zheban{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left:0 ;
    background: #C0C0C0;
    z-index:999;
    opacity: 0.8;
    display: none;
}
//验证码
.yanzhengma{
    width: 380px;
    height: 270px;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -135px;
    z-index: 99999999;
    background: #fff;
    display: none;
    .yan-xx{
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        right: 20px;
        top: 24px;
        cursor: pointer;
        background: url(/img/jsb3.png) no-repeat;
    }
    .tishi{
        width: 100%;
        height: 38px;
        line-height: 30px;
        color: #ef2121;
        border-bottom: 1px solid #ca0343;
        font-size: 18px;
        .tishi-tt{
            margin-left: 24px;
        }
    }
    .login-yanzeng{
        width: 100%;
        padding: 30px 0 14px 0;
        li{
            width: 330px;
            margin: 0 auto;
            height: 36px;
            line-height: 36px;
            margin-bottom: 10px;
        }
        .yan-span1{
            width: 56px;
            font-size: 14px;
            display: inline-block;
            float: left;
            margin-right: 10px;
            color: #515151;
            margin-left: 20px;
        }
        #yanma{           
            width: 240px;
            height: 34px;
            line-height: 34px;
            border: 1px solid #dcdcdc;
            outline: none;
            float: left;
            text-indent: 1em;
        }
        #gen_cod{
            display: block;
            float: left;
            width: 90px;
            height: 36px;
            line-height:36px;
            margin-top: 5px;
            margin-left:84px;
        }
        #gen-cuowu{
            font-size: 12px;
            color: red;
            float: left;
        }
         .yan-span2{
             width:156px;
            text-align: center;
            float: right;
            color: #b4b4b4;
            font-size: 14px;
            a{
                color: #de0606;
                text-decoration: none;
            }
         }
    }
    .yan-tijiao{
            width: 330px;
            margin: 0 auto;
            height: 46px;
            a{
                width: 160px;
                height: 46px;
                line-height: 46px;
                color: #fff;
                font-size: 16px;
                display: block;
                text-align: center;
                text-decoration: none;
                border-radius: 3px;
            }
            .a-queren{
                float: left;
                background: #b11e1e;
            }
            .a-quxiao{
                float: right;
                background: #e44343;
            }
    }
}
